<div= "containter">
<div class="col md- 4 card">
  <div class="users-index-page">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>Guest 1</th>
          <th>Guest 2</th>
          <th>Email</th>
          <th>Housing</th>
          <th>Interesting Fact</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @guests.each_with_index do |guest, index| %>
            <td><%= index + 1 %></td>
            <td><%= guest.first_name1 %><%= guest.last_name1 %></td>
            <td><%= guest.first_name2 %><%= guest.last_name2 %></td>
            <td><%= guest.email %></td>
            <td><%= guest.housing %></td>
            <td><%= guest.fact %></td>
        </tr>
        <% end %>
    </tbody>
    </table>
  </div>
</div>
</div>
