<div class = 'container'>
  <nav class="attempt-at-nav row">
    <ul class="list-of-links col-xs-12">
        <% if current_guest %>
        <li class= "link" style="  text-decoration: none !important; color: #000;">
          <a href = <%= edit_guest_path(current_guest) %>> RSVP</a>
        </li>
          <li class="link">
            <% if current_guest.admin? %>
              <%= link_to "Guest Information", guest_index_path %>
            <% end %>
          </li>
          <li class = "link">
            <%= link_to "All About Mexico", viva_mexico_path %>
          </li>
          <li class = "link">
            <%= link_to "Registry", registry_path %>
          </li>

        </ul>
        <span class="message">
          <% if current_guest.admin? %>
            Hello, Admin
          <% else %>
            Hello, <%=current_guest.first_name1  %>
          <% end %>
        </span>
        <span class = "logout-link"><%= link_to "Logout", logout_path, method: :delete %></span>

      <% end %>
  </nav>
</div>
