<!DOCTYPE html>
<html>
<head>
  <title>MxMlSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    "/assets/bootstrap.min" %>
  <%= javascript_include_tag "/assets/bootstrap.min" %>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Homemade+Apple',media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
